@{
    ViewData["Title"] = "ProductDetails";
}
@model GetProductDto

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>@ViewBag.ProductName</h2>
                    <span>HandMade Goods</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Product Area Starts ***** -->
<section class="section" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-images d-flex flex-row ">
                    <div class="d-flex flex-column image-container">
                        @if (@Model.ImagePathSecond != null)
                        {
                            <img src="@Model.ImagePathSecond" onclick="changeImage(this,this.getAttribute('src'))" class="image" />
                        }

                        @if (@Model.ImagePathThirth != null)
                        {
                            <img src="@Model.ImagePathThirth" onclick="changeImage(this,this.getAttribute('src'))" class="image" />

                        }
                    </div>
                    <img id="main-photo" src="@Model.ImagePath" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>@Model.Name</h4>
                    @*<span class="price">@Model.Price₺</span>*@
                    <ul class="stars" style="position:static">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    @*<span>@Model.Description</span>*@
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>@Model.Description</p>
                    </div>
                    <div class="quantity-content">
                        <div class="container ">
                            <button class="btn btn-dark col-lg-12" id="ozellikButton" data-toggle="collapse" data-target="#ozellikTablo" aria-expanded="false" aria-controls="ozellikTablo">Ürün Özellikleri</button>
                            <div class="mt-3 collapse" id="ozellikTablo">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <td>Renk</td>
                                            <td>: @Model.Color</td>
                                        </tr>
                                        <tr>
                                            <td>Stok Sayısı</td>
                                            <td>: @Model.Stock</td>
                                        </tr>
                                        <tr>
                                            <td>Marka</td>
                                            <td>:  @Model.BrandName </td>
                                        </tr>
                                        <tr>
                                            <td>Ürün Grubu</td>
                                            <td>:  @Model.GenreName </td>
                                        </tr>
                                        <tr>
                                            <td>Malzeme</td>
                                            <td>:  @Model.MaterialName </td>
                                        </tr>
                                        @if (Model.Capacity != null)
                                        {
                                            <tr>
                                                <td>Kapasite</td>
                                                <td>: @Model.Capacity</td>
                                            </tr>
                                        }
                                        @if (Model.Height != null)
                                        {
                                            <tr>
                                                <td>Yükseklik</td>
                                                <td>: @Model.Height</td>
                                            </tr>
                                        }
                                        @if (Model.Width != null)
                                        {
                                            <tr>
                                                <td>Genişlik</td>
                                                <td>: @Model.Width</td>
                                            </tr>
                                        }
                                        @if (Model.Length != null)
                                        {
                                            <tr>
                                                <td>Uzunluk</td>
                                                <td>: @Model.Length</td>
                                            </tr>
                                        }
                                        @if (Model.Size != null)
                                        {
                                            <tr>
                                                <td>Beden</td>
                                                <td>: @Model.Size</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*<div class="left-content">
                        <h6>Ürün Özellikleri</h6>
                        </div>
                        <div class="right-content">
                        <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                        </div>
                        </div>*@
                    </div>
                    <div class="total">
                        <div class="price">
                            @if (Model.OldPrice != 0 && Model.OldPrice != null)
                            {
                                <h4>
                                    Fiyat:  <del style="font-size:15px;margin-right:5px">@Model.Price ₺</del>
                                </h4>
                            }
                            else
                            {
                                <h4 class="price">Fiyat: @Model.Price₺</h4>
                            }
                            @if (Model.OldPrice != 0 && Model.OldPrice != null)
                            {
                                <h4 > @Model.OldPrice ₺</h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Product Area Ends ***** -->

<style>
    .price {
        text-align: center; /* Metni ortalamak için */
        display: flex; /* Flex kullanarak içeriği dikey ve yatayda ortalamak için */
        /*height: 100vh; /* Sayfa boyunca div'i ortalayın */ */
    }

    .image-container {
        max-width: 150px;
        height: auto;
        margin-right: 10px;
    }

    .image {
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        runOwlCarousel();
    });



    function changeImage(element, imagePath) {

        var mainPhotoElement = document.getElementById('main-photo')
        var mainPhotoSrc = mainPhotoElement.getAttribute('src');
        mainPhotoElement.removeAttribute('src');
        mainPhotoElement.setAttribute('src', imagePath);

        element.setAttribute('src', mainPhotoSrc)



    }
</script>