@model List<ListBrandDto>


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">MARKA</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Marka İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Marka Adı</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@GetEnumDescription.Description(item.Status)</td>
                                                <td>
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Seçenekler
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <a class="dropdown-item text-primary" href="/Admin/Brand/UpdateBrand/@item.Id">Güncelle</a>
                                                        <a class="dropdown-item text-primary" onclick="loadBrandData(@item.Id)" id="modalOpener" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@item.Id">Detaylar</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="/Admin/Brand/SoftDelete/@item.Id">Sil</a>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Brand/CreateBrand" class="btn btn-outline-primary">Yeni Marka Girişi </a>
                        <a style="margin-left:10px" href="/Admin/Brand/DeletedBrandList" class="btn btn-outline-danger">Silinen Markalar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<partial name="~/Areas/Admin/Views/Brand/_BrandDetailPartialView.cshtml" />
<script src="~/js/detail-brand.js"></script>