@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ListProductDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">ÜRÜNLER</h4>
        <div class="row">
            <div class="col-lg-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Ürün İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="flex" data-kt-docs-table-toolbar="base">
                            <form class="form-question" asp-controller="Product" asp-action="GetProductsByGivenValues" asp-route-state="" method="post" onsubmit="return onSubmitForm()">
                                <div class="classroomfilter flex-row">
                                    <div class="row g-5 align-items-end">
                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Ürün Adı</label>
                                            <input class="form-control form-control-solid mb-3 mb-lg-0" id="Name" name="Name" placeholder="Ürün Adı" value="@ViewBag.Content" />
                                        </div>

                                        <div class="form-floating col-md-2 mb-3">
                                            <div class="form-label-group">
                                                <label for="Subject">Ürün Fiyatı</label>
                                                <input class="form-control form-control-solid mb-3 mb-lg-0" id="Price" name="Price" placeholder="Ürün Fiyatı" type="number" value="@ViewBag.Content" />
                                            </div>
                                        </div>


                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Kategori</label>
                                            <select class="form-control" data-control="select2" id="Category" name="GenreId" asp-items="@ViewBag.Genres">
                                                <option value="">Seçiniz</option>
                                            </select>
                                        </div>



                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Malzeme</label>
                                            <select class="form-control" data-control="select2" id="Material" name="MaterialId" asp-items="@ViewBag.Materials">
                                                <option value="">Seçiniz</option>
                                            </select>
                                        </div>


                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Oluşturma Tarihi</label>
                                            <input type="date" class="form-control form-control-solid" id="CreatedDate" name="CreatedDate" placeholder="Oluşturma Tarihi" />
                                        </div>
                                        <div class="form-floating col-md-2 mb-3">
                                            <button type="submit" id="searchButton" style="min-width:99px;" class="btn btn-outline-primary" >Listele</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ürün Fotoğrafı</th>
                                        <th scope="col">Ürün Adı</th>
                                        <th scope="col">Renk</th>
                                        <th scope="col">Fiyat</th>
                                        <th scope="col">Stok Durumu</th>
                                        <th scope="col">Eklenme Tarihi</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="product-table-body">
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                       @*  @foreach (var item in Model)
                                        {
                                            <tr class="dropdown-row">
                                                <td>@item.Id</td>
                                                <td><img class="img-fluid img-thumbnail" style="width: 100px; height:100px; border-radius:5px; " src="@item.ImagePath" /></td>
                                                <td>@item.Name</td>
                                                <td>@item.Color</td>
                                                <td>@item.Price ₺</td>
                                                <td>@item.Stock Adet</td>
                                                <td>@item.Capacity</td>
                                                <td>@item.CreatedDate</td>
                                                <td>@GetEnumDescription.Description(item.Status)</td>
                                                <td>
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Seçenekler
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <a class="dropdown-item " href="/Admin/Product/UpdateProduct/@item.Id">Güncelle</a>
                                                        <a class="dropdown-item " id="modalOpener" onclick="addPriceToProduct(@item.Id)" data-bs-toggle="modal" data-bs-target="#productAddDiscountModal" data-id="@item.Id">Fiyat Güncelle</a>
                                                        <a class="dropdown-item " id="modalOpener" onclick="loadProductData(@item.Id)" data-bs-toggle="modal" data-bs-target="#productDetailModal" data-id="@item.Id">Detaylar</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="/Admin/Product/SoftDelete/@item.Id">Sil</a>
                                                    </ul>
                                                </td>
                                            </tr>
                                        } *@
                                    }
                                </tbody>
                            </table>

                            <a asp-area="Admin" asp-action="CreateProduct" asp-controller="Product" class="btn btn-outline-primary">Yeni Ürün Girişi </a>
                            <a style="margin-left:10px" href="/Admin/Product/DeletedProductList" class="btn btn-outline-danger">Silinen Ürünler</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <ul class="pagination pg-primary" id="pagination-list">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/detail-product.js"></script>
<script src="~/js/product-discount-add.js"></script>

<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var productList = [];
    productList = @Html.Raw(Json.Serialize(Model));

    function onSubmitForm() {
        var searchButton = document.getElementById("searchButton");
        var name = document.getElementById("Name");
        var price = document.getElementById("Price");
        var category = document.getElementById("Genre");
        var material = document.getElementById("Material");
        var createdDate = document.getElementById("CreatedDate")
        if (!name.value && !price.value && !category.value && !questionDifficulty.value && !createdDate.value) {
            var showAllQuestions = true;

            var baseUrl = '@Url.Action("ProductList")';

            var url = baseUrl + queryString;

            window.location.href = url;
            return false;
        } else {
            return true;
        }
    }
</script>
<script src="~/js/list-product.js"></script>
<partial name="~/Areas/Admin/Views/Product/_DetailProductPartialView.cshtml" />
<partial name="~/Areas/Admin/Views/Product/_AddDiscountProductPartialView.cshtml" />
