@{
    ViewData["Title"] = "UpdateProduct";
}

@model UpdateProductDto

<div class="col-md-12" style="margin-top:80px">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Ürün Ekleme İşlemleri</div>
        </div>
        <form asp-area="Admin" asp-controller="Product" asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="card-body">



                    <div class="form-group text-muted">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">ÜRÜN ADI</span>
                                <input asp-for="Name" type="text" class="form-control " id="product-name" placeholder="Ürün Adını Giriniz...">
                                <span class="text-danger">@ViewData["NameError"]</span>
                            </div>
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">RENK</span>
                                <input asp-for="Color" type="text" class="form-control" id="product-color" placeholder="Ürün Rengini Giriniz...">
                                <span class="text-danger">@ViewData["ColorError"]</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">ÜRÜN FİYATI </span>
                                <div class="input-group">
                                    <input asp-for="Price" type="text" class="form-control" oninput="formatPrice()" id="product-price" placeholder="Ürün Fiyatını Giriniz...">
                                    <div class="input-group-append">
                                        <span class="input-group-text">₺</span>
                                    </div>
                                </div>
                                    <span class="text-danger">@ViewData["PriceError"]</span>
                            </div>
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">STOK</span>
                                <div class="input-group">
                                    <input asp-for="Stock" type="number" class="form-control " id="product-stock" placeholder="Ürün Stoğunu Giriniz...">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Adet</span>
                                    </div>
                                </div>
                                    <span class="text-danger">@ViewData["StockError"]</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">MALZEME</span>
                                <select asp-for="MaterialId" data-control="select2" asp-items="@ViewBag.Materials" class="form-control" id="product-material">
                                    <option value="" selected>-- Seçiniz --</option>
                                </select>
                                <span class="text-danger">@ViewData["MaterialError"]</span>
                            </div>
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">MARKA</span>
                                <select asp-for="BrandId" data-control="select2"
                                        asp-items="@ViewBag.Brands" class="form-control" id="product-category">
                                    <option value="" selected>-- Seçiniz --</option>
                                </select>
                                <span class="text-danger">@ViewData["BrandError"]</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">KATEGORİ</span>
                                <select asp-for="CategoryId" data-control="select2" asp-items="@ViewBag.Categories" onchange="onCategoryChangeUpdate()" class="form-control" id="product-category-update">
                                    <option value="" selected>-- Seçiniz --</option>
                                </select>
                                <span class="text-danger">@ViewData["CategoryError"]</span>
                            </div>
                            <div class="col-md-6">
                                <span class="text-muted font-weight-bold">TÜR</span>
                                <select asp-for="GenreId" data-control="select2" asp-items="@ViewBag.Genres"
                                        class="form-control" id="product-genre">
                                    <option value="" selected>-- Seçiniz --</option>
                                </select>
                                <span class="text-danger">@ViewData["GenreError"]</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="text-muted font-weight-bold">AÇIKLAMA</span>
                                    <textarea asp-for="Description" class="form-control" id="product-comment" placeholder="Ürünün Açıklamasını Giriniz...">
                                                </textarea>
                                </div>
                                <span class="text-danger">@ViewData["DescriptionError"]</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="input-container d-flex">
                                    <div class="d-flex flex-column ">
                                        <span class="text-muted font-weight-bold">ÖLÇÜLER</span>
                                        @if (Model.Width != null)
                                        {
                                            <input type="checkbox" data-result="false" onchange="showDimensions('show-dimensions')" id="input-dimensions-toggle" data-toggle="toggle" data-onstyle="success" checked>
                                        }
                                        else
                                        {
                                            <input type="checkbox" data-result="true" onchange="showDimensions('show-dimensions')" id="input-dimensions-toggle" data-toggle="toggle" data-onstyle="success" >
                                        }
                                    </div>
                                    <div class="d-flex flex-column col-md-10">
                                        <div class="input-dimensions ">
                                            <span class="text-muted font-weight-bold show-dimensions" style="display: none;">GENİŞLİK</span>
                                            <div class="input-group d-flex">
                                                <input asp-for="Width" type="text" class="form-control show-dimensions" style="display: none;" id="product-width" placeholder="Ürün Genişliğini Giriniz...">
                                                <div class="input-group-append">
                                                    <span class="input-group-text show-dimensions" id="product-width-cm" style="display: none;">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-dimensions">
                                            <span class="text-muted font-weight-bold show-dimensions" style="display: none;">UZUNLUK</span>
                                            <div class="input-group d-flex">
                                                <input asp-for="Length" type="text" style="display: none;" class="form-control show-dimensions" id="product-length" placeholder="Ürün Uzunluğunu Giriniz...">
                                                <div class="input-group-append">
                                                    <span class="input-group-text show-dimensions" id="product-length-cm" style="display: none;">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-dimensions">
                                            <span class="text-muted font-weight-bold show-dimensions" style="display: none;">YÜKSEKLİK</span>
                                            <div class="input-group d-flex">
                                                <input asp-for="Height" type="text" style="display: none;" class="form-control show-dimensions" id="product-height" placeholder="Ürün Yüksekliğini Giriniz...">
                                                <div class="input-group-append">
                                                    <span class="input-group-text show-dimensions" id="product-height-cm" style="display: none;">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <span class="text-muted font-weight-bold">BOYUT</span>
                                <div class="input-group d-flex">

                                    @if (Model.Size != null)
                                    {
                                        <input type="checkbox" data-result="true" onchange="showSize('product-size')" id="input-size-toggle" data-toggle="toggle" data-onstyle="success" checked>
                                        <select asp-for="Size" asp-items="@ViewBag.Size" class="form-control" id="product-size" style="display: block; margin-left:10px">
                                            <option value="" selected>-- Seçiniz --</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="checkbox" data-result="false" onchange="showSize('product-size')" id="input-size-toggle" data-toggle="toggle" data-onstyle="success" >
                                        <select asp-for="Size" asp-items="@ViewBag.Size" class="form-control" id="product-size" style="display: none; margin-left:10px">
                                            <option value="" selected>-- Seçiniz --</option>
                                        </select>
                                    }


                                </div>
                            </div>

                            <div class="col-md-4">
                                <span class="text-muted font-weight-bold">HACİM</span>
                                <div class="input-group d-flex">
                                    @{
                                        if (Model.Capacity != null)
                                        {
                                            <input type="checkbox" data-result="true" onchange="showCapacity('product-capacity')" id="input-capacity-toggle" data-toggle="toggle" data-onstyle="success" checked>
                                            <input asp-for="Capacity" type="number" class="form-control" id="product-capacity" placeholder="Ürün Hacmini Giriniz..." style="display: block; margin-left:10px">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="product-lt" style="display: block;">Lt</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="checkbox" data-result="false" onchange="showCapacity('product-capacity')" id="input-capacity-toggle" data-toggle="toggle" data-onstyle="success">
                                            <input asp-for="Capacity" type="number" class="form-control" id="product-capacity" placeholder="Ürün Hacmini Giriniz..." style="display: none; margin-left:10px">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="product-lt" style="display: none;">Lt</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="form-group">
                                    <span class="text-muted font-weight-bold">BİRİNCİ ÜRÜN FOTOĞRAFI</span>
                                    <input asp-for="UploadPath" type="file" class="form-control-file" id="product-photo" onchange="previewImage(event,1)">
                                    <span class="text-danger">@ViewData["ImageError"]</span>
                                    <input asp-for="ImagePath" value="@Model.ImagePath" hidden/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" id="image-preview1" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px; display: none;">
                                <small id="image-preview-label" style="display: none;" for="image-preview">Yüklenen Ürün Fotoğrafı</small>
                            </div>
                            <div class="col-md-4">
                                <img src="@Model.ImagePath" class="img-thumbnail" id="image-preview" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px;">
                                <small id="image-preview-label" for="image-preview" style="display:block;">Eski Ürün Fotoğrafı</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="form-group">
                                    <span class="text-muted font-weight-bold">İKİNCİ ÜRÜN FOTOĞRAFI</span>
                                    <input asp-for="UploadPathSecond" type="file" class="form-control-file" id="product-photo" onchange="previewImage(event,2)">
                                    <span class="text-danger">@ViewData["ImageErrorSecond"]</span>
                                    <input asp-for="ImagePathSecond" value="@Model.ImagePathSecond" hidden />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" id="image-preview2" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px; display: none;">
                                <small id="image-preview-label" style="display: none;" for="image-preview">İkinci Yüklenen Ürün Fotoğrafı</small>
                            </div>
                            @if(Model.ImagePathSecond != null)
                            {
                                <div class="col-md-4">
                                    <img src="@Model.ImagePathSecond" class="img-thumbnail" id="image-preview" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px;">
                                    <small id="image-preview-label" for="image-preview" style="display:block;">İkinci Eski Ürün Fotoğrafı</small>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 d-flex align-items-center">
                                <div class="form-group">
                                    <span class="text-muted font-weight-bold">ÜÇÜNCÜ ÜRÜN FOTOĞRAFI</span>
                                    <input asp-for="UploadPathThirth" type="file" class="form-control-file" id="product-photo" onchange="previewImage(event,3)">
                                    <span class="text-danger">@ViewData["ImageErrorThirth"]</span>
                                    <input asp-for="ImagePathThirth" value="@Model.ImagePathThirth" hidden />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img class="img-thumbnail" id="image-preview3" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px; display: none;">
                                <small id="image-preview-label" style="display: none;" for="image-preview">üçüncü Yüklenen Ürün Fotoğrafı</small>
                            </div>
                            @if (Model.ImagePathThirth != null)
                            {
                                <div class="col-md-4">
                                    <img src="@Model.ImagePathThirth" class="img-thumbnail" id="image-preview" src="#" alt="Ürün Fotoğrafı Önizleme" style="max-width: 100%; margin-top: 10px;">
                                    <small id="image-preview-label" for="image-preview" style="display:block;">Üçüncü Eski Ürün Fotoğrafı</small>
                                </div>
                            }
                           
                        </div>
                    </div>
                </div>
                <div class="card-action d-flex justify-content-end  ">
                    <button type="submit" class="btn btn-outline-success mr-2">Kaydet</button>
                    <a asp-area="Admin" asp-action="ProductList" asp-controller="Product" class="btn btn-outline-primary">Geri Dön</a>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="~/js/product-update.js"></script>



<style>
    #image-preview {
        max-width: 100%;
        max-height: 200px;
    }

    #image-preview1 {
        max-width: 100%;
        max-height: 200px;
    }

    #image-preview2 {
        max-width: 100%;
        max-height: 200px;
    }

    #image-preview3 {
        max-width: 100%;
        max-height: 200px;
    }
</style>

