@{
    ViewData["Title"] = "DeletedMaterialList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@model List<DeletedMaterialListDto>

<div class="content">

    <div class="container-fluid">
        <h4 class="page-title">SİLİNEN MALZEMELER </h4>
        <div class="row">
            <div class="col-md-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Malzeme İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Malzeme Adı</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">Silinme Zamanı</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@GetEnumDescription.Description(item.Status)</td>
                                            <td>@item.DeletedDate</td>
                                            <td>
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                    Seçenekler
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                    <a class="dropdown-item text-success " href="/Admin/Material/AddAgainMaterial/@item.Id">Tekrar Ekle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" onclick="loadMaterialData(@item.Id)" id="modalOpener" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@item.Id">Veriyi Sil</a>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Material/MaterialList" class="btn btn-outline-primary mt-3">Listeye Geri Dön</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<partial name="~/Areas/Admin/Views/Material/_MaterialHardDeletedPartialView.cshtml" />
<script src="~/js/delete-material.js"></script>





