@{
    ViewData["Title"] = "SubscriberList";
}

@model List<ListSubscriberDto>


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">ABONELER</h4>
        <div class="row">
            <div class="col-md-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Abone İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="flex" data-kt-docs-table-toolbar="base">
                            <form class="form-question" asp-controller="Subscriber" asp-action="GetSubscribersByGivenValues" asp-route-state="" method="post">
                                <div class="classroomfilter flex-row">
                                    <div class="row g-5 align-items-end">
                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Abone Adı</label>
                                            <input class="form-control form-control-solid mb-3 mb-lg-0" id="FullName" name="FullName" placeholder="Abone Adı"  />
                                        </div>

                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Abone Email</label>
                                            <input class="form-control form-control-solid mb-3 mb-lg-0" id="Email" name="Email" placeholder="Abone Emaili"  />
                                        </div>

                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Oluşturma Tarihi</label>
                                            <input type="date" class="form-control form-control-solid" id="CreatedDate" name="CreatedDate" placeholder="Oluşturma Tarihi" />
                                        </div>
                                        <div class="form-floating col-md-4 mb-3 d-flex  ">
                                            <button type="submit" id="searchButton" style="min-width:99px;"  class="btn btn-outline-primary mr-2">Listele</button>

                                            <button type="submit" asp-controller="Subscriber" asp-action="SendMailToSubscribers" method="POST" style="min-width:99px;" title="Tüm indirimli ürünleri abonelere mail atar" class="btn btn-outline-success">İndirimli Ürünleri Mail At</button>

                                        </div>
                                      
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Abone Adı</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="subscriber-table-body">
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        @* @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.FullName</td>
                                                <td>@item.Email</td>
                                                <td>@GetEnumDescription.Description(item.Status)</td>
                                                <td>
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Seçenekler
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <li>
                                                            <a class="dropdown-item text-danger" href="/Admin/Subscriber/SoftDelete/@item.Id">Sil</a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        } *@
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a style="margin-left:10px" href="/Admin/Subscriber/DeletedSubscriberList" class="btn btn-outline-danger">Silinen Aboneler</a>
                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <ul class="pagination pg-primary" id="pagination-list">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var subscriberList = [];
    subscriberList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/list-subscriber.js"></script>
