@model List<ListCategoryDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">KATEGORİLER</h4>
        <div class="row">
            <div class="col-lg-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kategori Adı</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="category-table-body">
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                       @*  @foreach (var item in Model)
                                        {
                                            <tr class="dropdown-row">
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>@GetEnumDescription.Description(item.Status)</td>
                                                <td>

                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Seçenekler
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <a class="dropdown-item text-primary" href="/Admin/Category/UpdateCategory/@item.Id">Güncelle</a>
                                                        <a class="dropdown-item text-primary" onclick="loadCategoryData(@item.Id)" id="modalOpener" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@item.Id">Detaylar</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="/Admin/Category/SoftDelete/@item.Id">Sil</a>
                                                    </ul>

                                                </td>
                                            </tr>

                                        } *@
                                    }
                                </tbody>
                            </table>
                            <a style="margin-left:10px" href="/Admin/Category/CreateCategory" class="btn btn-outline-primary">Yeni Kategori Girişi </a>
                            <a style="margin-left:10px" href="/Admin/Category/DeletedCategoryList" class="btn btn-outline-danger">Silinen Kategoriler</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <ul class="pagination pg-primary" id="pagination-list">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var categoryList = [];
    categoryList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/list-category.js"></script>
<partial name="~/Areas/Admin/Views/Category/_CategoryDetailPartialView.cshtml" />



