@{
    ViewData["Title"] = "DeletedCategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@model List<DeletedCategoryListDto>

<div class="content">

    <div class="container-fluid">
        <h4 class="page-title">SİLİNEN KATEGORİLER </h4>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-4">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Durumu</th>
                                    <th scope="col">Silinme Zamanı</th>
                                    <th scope="col">İşlem</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@GetEnumDescription.Description(item.Status)</td>
                                        <td>@item.DeletedDate</td>
                                        <td>
                                            <a type="submit" href="/Admin/Category/AddAgainCategory/@item.Id" class="btn btn-outline-success">Tekrar Ekle</a>
                                            <button type="button" class="btn btn-outline-danger" onclick="loadCategoryData(@item.Id)" id="modalOpener" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@item.Id">
                                                Veriyi Sil
                                            </button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <a href="/Admin/Category/CategoryList" class="btn btn-outline-primary mt-1">Listeye Geri Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Areas/Admin/Views/Category/_CategoryHardDeletedPartialView.cshtml" />
<script src="~/js/delete-category.js"></script>

