@{
    ViewData["Title"] = "DeletedCategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@model List<DeletedCategoryListDto>

<div class="content">

    <div class="container-fluid">
        <h4 class="page-title">SİLİNEN KATEGORİLER </h4>
        <div class="row">
            <div class="col-lg-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Silinen Kategori İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Kategori Adı</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">Silinme Zamanı</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="category-table-body">
                                    @* @foreach (var item in Model)
                                    {
                                   
                                        <tr class="dropdown-row">
                                            <td>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td>@GetEnumDescription.Description(item.Status)</td>
                                            <td>@item.DeletedDate</td>
                                            <td>
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                    Seçenekler
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                    <a class="dropdown-item text-success " href="/Admin/Category/AddAgainCategory/@item.Id">Tekrar Ekle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" onclick="loadCategoryHardDeleteData(@item.Id)" id="modalOpener" data-bs-toggle="modal" data-bs-target="#hardDeleteModal" data-id="@item.Id">Veriyi Sil</a>
                                                </ul>
                                            </td>
                                        </tr>


                                    } *@
                                </tbody>
                            </table>
                        </div>
                        <a href="/Admin/Category/CategoryList" class="btn btn-outline-primary mt-1">Listeye Geri Dön</a>
                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <ul class="pagination pg-primary" id="pagination-list">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Areas/Admin/Views/Category/_CategoryHardDeletedPartialView.cshtml" />
<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var categoryList = [];
    categoryList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/list-deleted-category.js"></script>
<style>
    .dropdown-item:hover {
      
        cursor: pointer;
    }
</style>