
@{
    ViewData["Title"] = "GenreList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<ListGenreDto>

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">KATEGORİ TÜRLERİ</h4>
        <div class="row">
            <div class="col-lg-12" style="min-height: 730px;">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori Türü İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <div class="flex" data-kt-docs-table-toolbar="base">
                            <form class="form-question" asp-controller="Genre" asp-action="GetGenresByGivenValues" asp-route-state="" method="post">
                                <div class="classroomfilter flex-row">
                                    <div class="row g-5 align-items-end">
                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Tür Adı</label>
                                            <input class="form-control form-control-solid mb-3 mb-lg-0" id="Name" name="Name" placeholder="Ürün Adı" />
                                        </div> 

                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Kategori</label>
                                            <select class="form-control" data-control="select2" id="Category" name="CategoryId" asp-items="@ViewBag.Categories">
                                                <option value="">Seçiniz</option>
                                            </select>
                                        </div>

                                        <div class="form-floating col-md-2 mb-3">
                                            <label>Oluşturma Tarihi</label>
                                            <input type="date" class="form-control form-control-solid" id="CreatedDate" name="CreatedDate" placeholder="Oluşturma Tarihi" />
                                        </div>
                                        <div class="form-floating col-md-2 mb-3">
                                            <button type="submit" id="searchButton" style="min-width:99px;" class="btn btn-outline-primary">Listele</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="table-responsive">
                            <table class="table mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Fotoğrafı</th>
                                        <th scope="col">Tür Adı</th>
                                        <th scope="col">Kategori Adı</th>
                                        <th scope="col">Durumu</th>
                                        <th scope="col">Oluşturulma Tarihi</th>
                                        <th scope="col">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody id="genre-table-body">
                                    @if (Model == null)
                                    {

                                    }
                                    else
                                    {
                                        @* @foreach (var item in Model)
                                        {
                                            <tr class="dropdown-row">
                                                <td>@item.Id</td>
                                                <td><img class="img-fluid" style="width: 100px; height:100px; border-radius:50%;" src="@item.ImagePath" /></td>
                                                <td>@item.Name</td>
                                                <td>@GetEnumDescription.Description(item.Status)</td>
                                                <td>
                                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Seçenekler
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                        <a class="dropdown-item " href="/Admin/Genre/UpdateGenre/@item.Id">Güncelle</a>
                                                        <a class="dropdown-item " id="modalOpener" onclick="loadGenreData(@item.Id)" data-bs-toggle="modal" data-bs-target="#genreDetailModal" data-id="@item.Id">Detaylar</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="/Admin/Genre/SoftDelete/@item.Id">Sil</a>
                                                    </ul>
                                                </td>
                                            </tr>
                                        } *@
                                    }
                                </tbody>
                            </table>
                            <a asp-area="Admin" asp-action="CreateGenre" asp-controller="Genre" class="btn btn-outline-primary">Yeni Kategori Türü Girişi </a>
                            <a style="margin-left:10px" href="/Admin/Genre/DeletedGenreList" class="btn btn-outline-danger">Silinen Kategori Türleri</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-lg-12">
                            <ul class="pagination pg-primary" id="pagination-list">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Model verilerini JavaScript nesnelerine dönüştürme
    var genreList = [];
    genreList = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/list-genre.js"></script>
<partial name="~/Areas/Admin/Views/Genre/_GenreDetailPartialView.cshtml" />
<script src="~/js/detail-genre.js"></script>

